ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #111111;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.section-paddings {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.accent-color {
  color: #fd9222;
}
/* ============ header ============ */
.page-header-container {
  display: flex;
  align-items: center;
  column-gap: 90px;
}
.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.page-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.icon-logo {
  margin-left: 4px;
}
.text-italik {
  font-style: italic;
}
.menu {
  display: flex;
  column-gap: 24px;
}
.menu-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
.social-list {
  display: flex;
  gap: 18px;
}
.social-list-link {
  display: block;
  line-height: 0;
  stroke: #111111;
  fill: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  stroke: #fd9222;
}
/* ============ hero ============ */
.hero {
  background: #1e1823;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/chocolate-bg-min.jpg);
  background-size: cover;
}
.hero-container {
  padding-top: 381px;
  padding-bottom: 40px;
  padding-left: 56px;
  padding-right: 56px;
  color: #ffffff;
}
.main-titel {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-content-wrapper {
  display: flex;
  align-items: center;
}
.buy-now-btn {
  font-weight: 600;
  font-size: 14px;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 144px;
  height: 45px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.how-made-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 183px;
  height: 45px;
  padding: 14px 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how-made-link:hover,
.how-made-link:focus {
  background-color: #ffffff;
  color: #fd9222;
}
.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}
.scroll-down-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #fd9222;
  width: 38px;
  height: 38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: #fd9222;
  fill: #ffffff;
}
/* ============ benefits ============ */
.benefits {
  background-color: #1e1823;
  margin-top: 72px;
  margin-bottom: 50px;
  color: #ffffff;
}
.benefits-container {
  padding: 50px 34px;
}

.benefits-list {
  display: flex;
  column-gap: 70px;
}
.benefits-list-item {
  position: relative;
  width: calc((100% - 2 * 70px) / 3);
}
.benefits-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  height: 50%;
  width: 1px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
}
.benefits-item-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
.benefits-list-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 18px;
}
.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ============ ingredients ============ */
.ingredients-section-titel {
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.ingredients-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.ingredients-list {
  display: flex;
  column-gap: 19px;
  flex-wrap: wrap;
}
.ingredients-list-item {
  position: relative;
  width: calc((100% - 3 * 19px) / 4);
  overflow: hidden;
  padding: 28px;
  border: 1px solid #fd9222;
  border-radius: 15px;
  overflow: hidden;
}
.ingredients-list-item:nth-child(4n + 1) {
  color: #ffffff;
  background-color: #fd9222;
}
.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}
.ingredients-list-item:nth-child(4n - 1) {
  color: #ffffff;
  background-color: #1e1823;
  border-color: #1e1823;
}
.ingredients-img {
  margin-bottom: 36px;
}
.ingredients-list-titel {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.ingredient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 15px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  color: #111111;
}
.ingredients-list-item:hover .ingredient-overlay {
  transform: translateY(0);
}
.overlay-titel {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.overlay-categories {
  display: flex;
  column-gap: 6px;
  margin-bottom: 14px;
}
.overlay-category {
  border-radius: 35px;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  border: 1px solid #fd9222;
}
.overlay-category-one {
  color: #ffffff;
  background-color: #fd9222;
}
.overlay-category-two {
  background-color: #fafafa;
}
.overlay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ============ how made ============ */
.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}
.how-made-text-wrapper {
  padding: 32px;
  flex-grow: 1;
  border-radius: 15px;
  background-color: #ffffff;
}
.how-made-img {
  border-radius: 15px;
}
.how-made-titel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}
.how-made-list {
  padding-right: 27px;
}
.how-made-list-item {
  position: relative;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 16px;
}
.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.how-made-list-item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}
/* ============ reviews ============ */
.reviews {
  padding-bottom: 100px;
}
.reviews-title {
  margin-bottom: 91px;
}
.accent-color {
}
.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 49px;
}
.reviews-list-item {
  position: relative;
  width: calc((100% - 28px * 2) / 3);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  padding: 56px 24px 24px;
  background-color: #ffffff;
}
.reviews-list-avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviews-list-fullname {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}
.reviews-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.leave-review-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 40px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  color: #111111;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-review-btn:hover,
.leave-review-btn:focus {
  background-color: #fd9222;
  color: #ffffff;
}
/* ============ footer ============ */
.page-footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 86px;
  color: #ffffff;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.page-footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  max-width: 300px;
}
.contact-block {
  font-style: normal;
}
.contact-text {
  padding-bottom: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
.contact-list {
}
.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}
.contact-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
.footer-bottom {
  padding-top: 24px;
}
.contact-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item-link:hover,
.contact-item-link:focus {
  color: #fd9222;
}
.page-navigation {
}
.menu {
}
.menu-item {
}
.menu-item-footer {
  padding-top: 0;
  padding-bottom: 0;
}
/* ============ modal ============ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  padding: 40px;
}
.modal-cloce-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-cloce-btn:hover,
.modal-cloce-btn:focus {
  stroke: #fd9222;
}
.titel-modal {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 298px;
}
.modal-form {
}
.modal-form-line-weraper {
  margin-bottom: 18px;
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}
.modal-form-input-wrapper {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding-left: 62px;
  width: 100%;
  height: 68px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #fd9222;
  outline: transparent;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  stroke: #fd9222;
}
.modal-coment {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px 24px;
  width: 100%;
  height: 137px;
  background-color: transparent;
  resize: none;
  padding: 22px 24px;
}
.modal-coment:focus {
  border-color: #fd9222;
  outline: transparent;
}
.modal-coment::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.form-checkbox {
  margin-bottom: 40px;
}
.check-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.check-input {
}
.check-mark {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 12px;
}
.check-icon {
  fill: #ffffff;
}
.check-input:checked + .check-label .check-mark {
  background-color: #fd9222;
  background-color: #fd9222;
}
.check-input:checked + .check-label .check-mark {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.privacy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
.modal-send-btn {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  height: 45px;
  background: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

/*.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  min-height: 794px;
  padding: 40px;
  background: #fafafa;
  border-radius: 15px;
}
.modal-clice-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-clice-btn:hover,
.modal-clice-btn:focus {
  stroke: #fd9222;
}
.modal-titel {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 298px;
}
.modal-form {
}
.modal-form-line-wrapper {
  margin-bottom: 18px;
}
.modal-form-line-label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}
.modal-form-input-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 68px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding-left: 62px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #fd9222;
  outline: transparent;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  stroke: #404040;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  stroke: #fd9222;
}
.modal-form-comment {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  width: 100%;
  height: 137px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
  border-color: #fd9222;
  outline: transparent;
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}*/
